<template>
  <svg height="48" id="svg8" version="1.1" viewBox="0 0 12.7 12.7" width="48" xmlns="http://www.w3.org/2000/svg">
    <g id="layer1" transform="translate(0,-284.29998)">
      <path
          d="m 9.8777781,289.9444 3e-7,-2.82221 H 8.4666671 v 2.82221 c 0,0.3528 -0.3527779,0.70558 -0.7055555,0.70558 H 4.2333335 l 2.1166668,-2.11667 -0.7055467,-0.70557 -3.5277868,3.52778 3.5277868,3.52779 0.7055467,-0.70557 -2.1166668,-2.11667 h 3.5277781 c 1.2347222,0 2.1166665,-0.88195 2.1166665,-2.11667 z"
          id="path4483"
          style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.70555556px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/>
    </g>
  </svg>
</template>