<template>
  <svg enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px"
       xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12S18.6,0,12,0z M12,22c-3.7,0-6.9-2-8.7-5h6.9c0.3,1,1,1,1.7,1s1.4,0,1.7-1  h6.9C18.9,20,15.7,22,12,22z M11,16c0-0.6,0-1,1-9c1,8,1,8.4,1,9s-0.4,1-1,1S11,16.6,11,16z M21.2,16H14c0-1,0-4-2-12  c-2,8-2,11-2,12H2.8C2.3,15,2,14,2,12h1.5C3.8,12,4,11.8,4,11.5S3.8,11,3.5,11H2.1c0.1-1,0.6-2.8,1.3-4l1.3,0.7  c0.2,0.1,0.5,0.1,0.7-0.2C5.5,7.3,5.4,7,5.1,6.9L3.9,6.2C4.7,5,5.8,4.1,7,3.3l0.7,1.3C7.9,4.9,8.2,5,8.4,4.8  c0.2-0.1,0.3-0.4,0.2-0.7L7.9,2.9C9.1,2.3,10.5,2,12,2s2.9,0.3,4.1,0.9l-0.7,1.2c-0.1,0.2-0.1,0.5,0.2,0.7s0.5,0.1,0.7-0.2L17,3.3  c1.2,0.7,2.3,1.7,3.1,2.8l-1.2,0.7c-0.2,0.1-0.3,0.4-0.2,0.7c0.1,0.2,0.4,0.3,0.7,0.2L20.7,7c0.7,1.2,1.2,3,1.3,4h-1.4  c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5H22C22,14,21.7,15,21.2,16z"/></svg>
</template>