<template>
  <div id="app">
    <main>

      <div class="app-wrapper">

        <div class="settings" :class="{active: settings_active}">

          <div class="settings__title-wrapper">
            <p class="settings__title">Settings</p>
            <button @click="closeSettings" class="settings__close">
              <close/>
            </button>
          </div>

          <draggable
              :list="this.cities"
              item-key="name"
              class="settings__list"
              ghost-class="ghost"
              @start="dragging = true"
              @end="dragging = false"
          >
            <template #item="{ element }">
              <div class="settings__list-item">
                <div class="settings__list-item-text">
                  <burger/>
                  <p>
                    {{ element.weather.name }}
                  </p>
                </div>
                <button class="settings__list-item-delete" @click="clearCustomCity(this.cities.indexOf(element))">
                  <trash/>
                </button>
              </div>
            </template>
          </draggable>

          <div class="search-box">

            <p class="search-box__title">Add Location</p>

            <div class="search-box-bar-wrapper">
              <input
                  type="text"
                  class="search-box-bar"
                  placeholder="Search..."
                  v-model="query"
                  @keypress="fetchWeather"
                  ref="add"
              />
              <button class="search-box-enter" id="btn1" v-on:click="fetchWeather">
                <enter/>
              </button>
            </div>

            <h1 v-if="bad_request">Bad request</h1>
          </div>
        </div>

        <div class="mainScreen" :class="{active: !settings_active}">

          <button v-if="cities.length" class="settings__open" @click="settings">
            <gear/>
          </button>

          <div class="noSaved" v-if="!cities.length">

            <p class="noSaved-text">
              Please enter your first City
            </p>

            <div class="search-box-bar-wrapper">
              <input
                  type="text"
                  class="search-box-bar"
                  placeholder="Search..."
                  v-model="query"
                  @keypress="fetchWeather"
                  ref="add"
              />
              <button class="search-box-enter" id="btn1" v-on:click="fetchWeather">
                <enter/>
              </button>
            </div>
          </div>

          <ul class="cityList" v-if="cities.length">
            <li class="cityList-item" v-for="city in cities" :key="city.index">
              <div class="weather-wrap" v-if="typeof city.weather.main != 'undefined'">
                <div class="location-box">
                  <div class="location">{{ city.weather.name }}, {{ city.weather.sys.country }}</div>
                </div>

                <div class="weather-box">
                  <div class="weather-icon"><img :src="getImageUrl(city.weather.weather[0].icon)" alt=""></div>
                  <div class="temp">{{ Math.round(city.weather.main.temp)}}°с</div>
                </div>

                <div class="weather-description">
                  Feels like {{ Math.round(city.weather.main.feels_like) }}°с {{ city.weather.weather[0].description }}
                </div>

                <div class="weather-another">
                  <div class="weather-another-item">
                    <location/>
                    <span
                        class="weather-another-text">{{ city.weather.wind.speed }}m/s
                  </span>
                    <span>{{ windDirection(city.weather.wind.deg) }}</span>
                  </div>

                  <div class="weather-another-item">
                    <pressure/>
                    <span class="weather-another-text">{{city.weather.main.pressure}}hPa</span>
                  </div>

                  <div class="weather-another-item">
                    <span class="weather-another-text">Humidity: {{city.weather.main.humidity}}%</span>
                  </div>

                  <div class="weather-another-item">
                    <span class="weather-another-text">Humidity: {{city.weather.main.humidity}}%</span>
                  </div>
                </div>

                <div class="date">{{ dateBuilder() }}</div>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </main>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import Burger from "@/components/icons/burger";
import Trash from "@/components/icons/trash";
import Close from "@/components/icons/close";
import Enter from "@/components/icons/enter";
import Gear from "@/components/icons/gear";
import Location from "@/components/icons/location";
import Pressure from "@/components/icons/pressure";

export default {
  components: {
    Pressure,
    Location,
    Gear,
    Enter,
    Close,
    Trash,
    Burger,
    draggable,
  },
  name: 'App',

  data() {
    return {
      api_key: '14aadd3539db36016215b53b1a8cf81c',
      url_base: 'https://api.openweathermap.org/data/2.5/',
      query: '',
      cities: [],
      currentCity: null,
      bad_request: false,
      settings_active: false
    }
  },

  mounted() {
    if (localStorage.cities) {
      this.cities = JSON.parse(localStorage.cities)
    }
  },
  methods: {

    createCity(results) {
      const newCity = {weather: results}
      this.cities.push(newCity);
      localStorage.setItem('cities', JSON.stringify(this.cities))
      console.log(this.cities)
    },

    settings() {
      this.settings_active = true;
    },

    clearCustomCity(index) {
      for (let i = 0; i < this.cities.length; i++) {
        console.log(i)

        if (i == index) {
          console.log(i)
          this.cities.splice(i, 1)
        }
      }
      localStorage.setItem('cities', JSON.stringify(this.cities))
    },

    closeSettings() {
      this.settings_active = false
    },

    getImageUrl(code) {
      const baseUrl = 'http://openweathermap.org/img/wn/'
      const resolution = '@2x.png'
      return baseUrl+code+resolution;
    },

    fetchWeather(e) {
      if (e.key == "Enter" || e.target.id == 'btn1') {
        fetch(`${this.url_base}weather?q=${this.query}&units=metric&appid=${this.api_key}`)
            .then(res => {
              if (res.status == 400 || res.status == 404) {
                this.bad_request = true;
              } else if (res.status == 200) {
                this.bad_request = false;
                return res.json().then(this.createCity)
              }
            })
      }
    },

    dateBuilder() {
      let d = new Date();
      let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

      let day = days[d.getDay()];
      let date = d.getDate();
      let month = months[d.getMonth()];
      let year = d.getFullYear();

      return `${day} ${date} ${month} ${year}`;
    },

    windDirection(d) {
      let directions = ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'];

      d += 22.5;

      if (d < 0)
        d = 360 - Math.abs(d) % 360;
      else
        d = d % 360;

      let w = parseInt(d / 45);
      return `${directions[w]}`;
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

#app {
  background: white;
  display: flex;
  transition: 0.4s;
  height: 100vh;
}

.app-wrapper {
  overflow: hidden;
  position: relative;
  padding: 25px;
}

#app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main {
  position: relative;
  width: 400px;
  min-height: 600px;
  background: #ffffff;
}

ul, li {
  list-style-type: none;
}

.search-box {
  width: 100%;

  &__title {
    margin-bottom: 20px;
  }

  &-bar {
    display: block;
    width: calc(100% - 40px);
    padding: 15px;
    color: #313131;
    font-size: 20px;
    transition: 0.4s;
    margin-right: 10px;

    &-wrapper {
      display: flex;
    }
  }

  &-enter {
    background: none;
    outline: none;
    border: none;
    width: 20px;
    cursor: pointer;

    svg {
      width: 30px;
    }
  }
}

.location-box .location {
  color: black;
  margin-bottom: 20px;
}

.date {
  color: black;
  font-size: 14px;
}

.noSaved {
  margin-top: 50px;
  &-text {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.weather-icon {
  width: 75px;
  height: 75px;
  background-size: cover;
  margin-right: 15px;

  img {
    width: 100%;
    height: 100%;
  }
}

.weather-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.weather-box .temp {
  font-size: 25px;
  font-weight: bold;
}

.cityList {
  &-item {
    margin-bottom: 30px;
    &:last-child {
      margin: 0;
    }
  }
}

.weather {
  &-another {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      display: flex;
      width: 48%;
      align-items: center;
      margin-bottom: 10px;

      svg {
        width: 15px;
        margin-right: 5px;
      }
    }

    &-text {
      margin-right: 5px;
      font-size: 14px;
    }
  }

  &-description {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.mainScreen {
  position: relative;
  left: -300%;
  transition: .75s;

  &.active {
    opacity: 1;
    left: 0;
  }
}

.settings {
  background-color: white;
  padding: 15px;
  position: absolute;
  right: -300%;
  transition: .75s;

  &.active {
    display: block;
    right: 0;
  }

  &__title {
    &-wrapper {
      display: flex;
      background-color: white;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
    }
  }

  &__close, &__open {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  &__open {
    position: absolute;
    top: 0;
    right: 0;
  }


  &__list {
    margin-bottom: 30px;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      padding: 10px 20px;
      background-color: #f6f6f6;
      cursor: pointer;

      &-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      &-delete {
        border: none;
        outline: none;
        background-color: #f6f6f6;
      }
    }

    &-burger {
      width: 20px;
      margin-right: 10px;
    }
  }
}

.ghost {
  opacity: .3;
}
</style>
